.carousel {
    position: relative;
    .carousel__wrapper {
        transition: transform .3s ease-in-out;
        .carousel__item {
            float: left;
        }
        &::after {
            content: "";
            display: table;
            clear: both;
        }
    }

    .carousel__next, .carousel__prev {
        width: 40px;
        height: 40px;
        
    }
    .carousel__next {
        background-color: blue;
    }
    .carousel__prev {
        background-color: red;
    }
}

