.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: fixed;
    top:0;
    bottom: 0;
    right:0;
    left:0;
    z-index:999;
    background-color: rgba($text-black, .2);

    .modal__wrapper {
        background-color: #fff;
        width: 720px;
        max-width: calc(100vw - 24px);
        max-width: calc(100vh - 24px);
        overflow: auto;
        .modal__title {
            padding: 1em;
            h2 {
                @extend %text-bold;
            }
        }
        .modal__body {
            padding: 1em;
        }
       
    }
}