@font-face {
    font-family: 'Work Sans Black';
    src: url('../fonts/worksans-black-webfont.ttf') format('ttf'),
         url('../fonts/worksans-black-webfont.woff2') format('woff2'),
         url('../fonts/worksans-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans ExtraBold';
    src: url('../fonts/worksans-extrabold-webfont.ttf') format('ttf'),
         url('../fonts/worksans-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/worksans-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans Bold';
    src: url('../fonts/worksans-bold-webfont.ttf') format('ttf'),
         url('../fonts/worksans-bold-webfont.woff2') format('woff2'),
         url('../fonts/worksans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans Regular';
    src: url('../fonts/worksans-regular-webfont.ttf') format('ttf'),
         url('../fonts/worksans-regular-webfont.woff2') format('woff2'),
         url('../fonts/worksans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans Light';
    src: url('../fonts/worksans-light-webfont.ttf') format('ttf'),
         url('../fonts/worksans-light-webfont.woff2') format('woff2'),
         url('../fonts/worksans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans ExtraLight';
    src: url('../fonts/worksans-extralight-webfont.ttf') format('ttf'),
         url('../fonts/worksans-extralight-webfont.woff2') format('woff2'),
         url('../fonts/worksans-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
