@import url('https://fonts.googleapis.com/css?family=Bai+Jamjuree:400,600&display=swap');

// COLORS
$primary-color: #F3E748;
$secondary-color: #3772FF;
$neutral-1: #fafafa;
$neutral-2: #dbdbdb;
$neutral-3: #9FABB2;
$text-black: #272838;

// FONTS
$font-size: 16px;

// Screen size
$mobile-size: 375px;
$desktop-size: 1440px;